header {
  background-color: #a854f7 !important;
  margin-bottom: 50px;
}

div .css-1t6c9ts > button > a {
  text-decoration: none;
  color: white;
}

.css-av538e-MuiButtonBase-root-MuiIconButton-root {
  color: white !important;
}

.MuiList-root > li > a {
  text-decoration: none;
  color: #a854f7;
}
